replicaCount: 2

image:
  repository: 012419504185.dkr.ecr.ap-south-1.amazonaws.com/hello-world-app
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
